<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload your resume</title>
</head>

<body>
    <div align="center">
        <h1>Upload your resume</h1>
        <hr>
        <form action="/resume/upload" method="post">
            <input type="file" name="resume" id="resume" placeholder="">
            <br>
            <button>Analyze</button>
        </form>
    </div>
</body>

</html>